/* Общие стили для всего документа */
body {
    background-color: #fce4ec;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Игривый шрифт */
    color: #6a1b9a;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Заголовки */
h1, h2 {
    color: #e91e63;
    text-align: center;
}

/* Центрирование ссылок */
.link-container {
    text-align: center;
}

/* Стили для ссылок */
a {
    color: #ff80ab;
    text-decoration: none;
    border-bottom: 1px dashed #ff80ab; /* Дашированные ссылки */
    display: inline-block;
    margin: 10px 0;
    padding-left: 20px;
    transition: color 0.3s, border-color 0.3s;
}

a:hover {
    color: #d5006d;
    border-color: #d5006d;
}

        .cat-container {
            position: absolute; /* Позволяет размещать изображения в произвольных позициях */
            border-radius: 50%; 
            overflow: hidden; /* Скрывает части изображения, выходящие за границы круга */
            width: 100px; 
            height: 100px;
            animation: glow-in 0.5s ease-in-out forwards, fade-out 5s ease-in forwards; /* Анимации */
        }

        .cat-img {
            width: 100%; 
            height: 100%;
            transition: transform 0.5s; /* Плавное изменение при наведении */
        }

        .cat-container:hover .cat-img {
            transform: scale(1.1); /* Увеличение изображения при наведении */
        }

        @keyframes glow-in {
            0% {
                opacity: 0;
                transform: scale(0.5); /* Начальное состояние с уменьшением размера */
                box-shadow: 0 0 20px rgba(255, 255, 255, 0); /* Нет свечения в начале */
            }
            100% {
                opacity: 1;
                transform: scale(1); /* Конечное состояние с нормальным размером */
                box-shadow: 0 0 20px rgba(255, 204, 204, 1); /* Свечение по завершении */
            }
        }

        @keyframes fade-out {
            0% {
                opacity: 1; /* Полная видимость в начале */
            }
            100% {
                opacity: 0; /* Пропадает в конце */
