/* Общие стили для всего документа */
body {
    background-color: #fce4ec;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Игривый шрифт */
    color: #6a1b9a;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Заголовки */
h1, h2 {
    color: #e91e63;
    text-align: center;
}

/* Стили для ссылок */
a {
    color: #ff80ab; 
    text-decoration: none;
    border-bottom: 1px dashed #ff80ab; /* Дашированные ссылки */
    display: inline-block;
    margin: 20px 0;
    transition: color 0.3s, border-color 0.3s;
}

a:hover {
    color: #d5006d; 
    border-color: #d5006d;
}

/* Комментарии */
.comment {
    color: #bbb;
    font-style: italic;
